body {
    background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0));
    background-size: 150%;
    background-position: center;
    color: white;
    background-position-y: 0;
}

h3 {
    color: #4491ea;
    text-align: center;
}

.container {
    text-align: center;
    color: #4491ea;
    font-size: 25px;
}